<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>info列表</h1>
    <a href="/info/get/">前往添加页面</a>
    <table>
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>PASSWORD</th>
            <th>AGE</th>
            <th>DELETE</th>
        </thead>
        <tbody>
            {% for obj in dataList %}
            <tr>
                <td>{{obj.id}}</td>
                <td>{{obj.name}}</td>
                <td>{{obj.password}}</td>
                <td>{{obj.age}}</td>
                <td>
                    <a href="/info/delete/?nid={{obj.id}}">删除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>